[agent]
expertMode = true

[userenv]

[userenv.shared]
SNOWFLAKE_ACCOUNT = "VSC78986.us-east-1"
SNOWFLAKE_USERNAME = "MIKEPRINCE"
SNOWFLAKE_DATABASE = "REVRYZE"
SNOWFLAKE_SCHEMA = "ANALYTICS"
SNOWFLAKE_WAREHOUSE = "INGEST_WH"
